*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
}
.container{
    display: flex;
    height: 80vh;
    border: 1px solid black;
    width: 80%;
}
.toDo{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    width: 100%;
}
.progress{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    width: 100%;
}
.done{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    width: 100%;
}
.task{
    height: 80%;
    border: 1px solid black;
    width: 80%;
    display: flex;
    overflow: scroll;
    flex-direction: column;
    font-size: 20px;
}
.options{
    padding: 5px;
    display: flex;
    justify-content: space-between;
}
#select{
    font-size: 16px;
    text-align: center;
    margin-left: 10px;
    width: 100%;
}
#input{
    width: 100%;
}
button{
    font-size: 19px;
    width: 85px;
}
.buttons{
    display: flex;
}
.delete{
    margin-left: 10px;
}
.high{
    background-color: red;
}
.medium{
    background-color: orange;
}
.low{
    background-color: green;
}
.paraf{
    border: 1px solid white;
}
.paraf:hover{
    cursor: pointer;
}
.selectedp{
    border: 3px solid black;
}